.SignUpPage_Page {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: hsl(95, 70%, 90%);
    background-repeat: repeat-x, repeat-x;
    background-position: center bottom, center 30%;
    overflow: auto;
}

.SignUpPage_Page-frame {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 280px;
    height: 396px;
    margin: auto;
    background-color: white;
    padding: 20px;
}

.SignUpPage_Page-backButton {
    color: hsl(95, 70%, 55%);
    cursor: pointer;
}
.SignUpPage_Page-backButton:hover {
    text-decoration: underline;
}

.SignUpPage_Page-title {
    text-align: center;
    color: hsl(95, 70%, 55%);
    font-size: 22px;
    line-height: 50px;
}

.SignUpPage_Page-button {
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 7px 10px;
    cursor: pointer;
    width: 100%;
    color: white;
    background-color: hsl(95, 70%, 55%);
}
.SignUpPage_Page-button:active {
    color: hsl(95, 70%, 70%);
    background-color: hsl(95, 70%, 35%);
}
