.ContactRequestPage_Page {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: hsla(95, 60%, 55%, 0.5);
    overflow: auto;
    text-align: center;
}

.ContactRequestPage_Page-aligner {
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

.ContactRequestPage_Page-frame {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    width: 300px;
    background-color: white;
    padding: 20px;
    text-align: left;
}

.ContactRequestPage_Page-title {
    color: hsl(95, 60%, 55%);
    font-size: 22px;
    line-height: 44px;
    padding-left: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 10px;
}

.ContactRequestPage_Page-text {
    text-align: center;
    padding: 20px;
    white-space: normal;
    margin-bottom: 10px;
    line-height: 20px;
}

.ContactRequestPage_Page-addContactButton {
    padding-top: 7px;
    padding-bottom: 7px;
    cursor: pointer;
    width: calc(60% - 5px);
    color: white;
    background-color: hsl(95, 60%, 55%);
    text-align: center;
}
.ContactRequestPage_Page-addContactButton:active {
    color: hsl(95, 70%, 70%);
    background-color: hsl(95, 60%, 35%);
}
.ContactRequestPage_Page-addContactButton[disabled] {
    color: white;
    background-color: hsl(0, 0%, 70%);
    cursor: default;
}

.ContactRequestPage_Page-ignoreButton {
    padding-top: 7px;
    padding-bottom: 7px;
    cursor: pointer;
    width: calc(40% - 5px);
    color: white;
    background-color: hsl(45, 70%, 55%);
    margin-left: 10px;
    text-align: center;
}
.ContactRequestPage_Page-ignoreButton:active {
    color: hsl(45, 70%, 70%);
    background-color: hsl(45, 70%, 35%);
}
.ContactRequestPage_Page-ignoreButton[disabled] {
    color: white;
    background-color: hsl(0, 0%, 70%);
    cursor: default;
}
