.ChangePasswordPage_NewPasswordItem-input {
    background-color: white;
    padding: 5px 10px;
    cursor: text;
    width: 100%;
    border: 2px solid hsl(0, 0%, 70%);
}
.ChangePasswordPage_NewPasswordItem-input:focus {
    border-color: hsl(95, 60%, 55%);
}
