.WorkPage_ChatPanel_ReceivedTextMessage {
    background-color: hsl(95, 70%, 85%);
    padding: 12px;
    margin-top: 10px;
    white-space: normal;
    word-wrap: break-word;
    line-height: 20px;
}
.WorkPage_ChatPanel_ReceivedTextMessage:first-child {
    margin-top: 0;
}

.WorkPage_ChatPanel_ReceivedTextMessage-time {
    float: right;
    text-align: right;
    line-height: 20px;
    color: hsl(0, 0%, 70%);
}
