.WorkPage_SidePanel_ContactList {
    position: absolute;
    top: 54px;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 20px;
    padding-right: 0;
}

.WorkPage_SidePanel_ContactList-empty {
    color: hsl(0, 0%, 70%);
    padding: 30px;
    text-align: center;
}
