.WorkPage_SidePanel_Panel {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 260px;
    padding: 20px;
    background-color: white;
    background-position: center bottom;
    background-repeat: repeat-x;
}
@media (max-width: 600px) {
    .WorkPage_SidePanel_Panel {
        width: 100%;
    }
    .WorkPage_SidePanel_Panel.chatOpen {
        display: none;
    }
}
