.AccountPage_EmailItem-input {
    background-color: white;
    padding: 5px 10px;
    cursor: text;
    width: 100%;
    border: 2px solid hsl(0, 0%, 70%);
}
.AccountPage_EmailItem-input:focus {
    border-color: hsl(95, 60%, 55%);
    background-color: hsl(95, 70%, 95%);
}
