.AccountPage_Page {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: hsla(95, 60%, 55%, 0.5);
    overflow: auto;
    text-align: center;
}

.AccountPage_Page-aligner {
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

.AccountPage_Page-frame {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    width: 300px;
    background-color: white;
    padding: 20px;
    text-align: left;
}

.AccountPage_Page-title {
    color: hsl(95, 60%, 55%);
    font-size: 22px;
    line-height: 44px;
    padding-left: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: 90px;
}

.AccountPage_Page-form {
    border-bottom: 1px solid hsl(0, 0%, 90%);
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.AccountPage_Page-saveProfileButton {
    margin-top: 10px;
    padding-top: 7px;
    padding-bottom: 7px;
    cursor: pointer;
    width: 100%;
    color: white;
    background-color: hsl(95, 60%, 55%);
    text-align: center;
}
.AccountPage_Page-saveProfileButton:active {
    color: hsl(95, 70%, 70%);
    background-color: hsl(95, 60%, 35%);
}
.AccountPage_Page-saveProfileButton[disabled] {
    background-color: hsl(0, 0%, 70%);
}

.AccountPage_Page-changePasswordButton {
    padding-top: 7px;
    padding-bottom: 7px;
    cursor: pointer;
    width: 100%;
    color: white;
    background-color: hsl(45, 70%, 55%);
    text-align: center;
}
.AccountPage_Page-changePasswordButton:active {
    color: hsl(45, 70%, 70%);
    background-color: hsl(45, 70%, 35%);
}
