.AccountPage_Page {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: hsla(95, 70%, 55%, 0.5);
    overflow: auto;
}

.AccountPage_Page-frame {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 300px;
    height: 425px;
    margin: auto;
    background-color: white;
    padding: 20px;
}

.AccountPage_Page-title {
    color: hsl(95, 70%, 55%);
    font-size: 22px;
    line-height: 44px;
    padding-left: 36px;
    background-repeat: no-repeat;
    background-position: left center;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: 90px;
}

.AccountPage_Page-form {
    border-bottom: 1px solid hsl(0, 0%, 90%);
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.AccountPage_Page-saveProfileButton {
    margin-top: 10px;
    padding: 7px 10px;
    cursor: pointer;
    width: 100%;
    color: white;
    background-color: hsl(95, 70%, 55%);
}
.AccountPage_Page-saveProfileButton:active {
    color: hsl(95, 70%, 70%);
    background-color: hsl(95, 70%, 35%);
}

.AccountPage_Page-changePasswordButton {
    padding: 7px 10px;
    cursor: pointer;
    width: 100%;
    color: white;
    background-color: hsl(45, 80%, 55%);
}
.AccountPage_Page-changePasswordButton:active {
    color: hsl(45, 80%, 70%);
    background-color: hsl(45, 80%, 35%);
}
