.AccountPage_PhoneItem {
    position: relative;
}

.AccountPage_PhoneItem-input {
    position: relative;
    background-color: white;
    padding: 5px 10px;
    cursor: text;
    width: calc(100% - 42px);
    border: 2px solid hsl(0, 0%, 70%);
}
.AccountPage_PhoneItem-input:focus {
    border-color: hsl(95, 60%, 55%);
    background-color: hsl(95, 70%, 95%);
    z-index: 1;
}
.AccountPage_PhoneItem-input[disabled] {
    background-color: hsl(0, 0%, 95%);
}
