.CloseButton {
    position: absolute;
    top: 20px;
    right: 20px;
    line-height: 44px;
    padding-right: 14px;
    padding-left: 14px;
    cursor: pointer;
}
.CloseButton:active {
    background-color: hsl(95, 70%, 90%);
}
