.RemoveContactPage_Page {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: hsla(95, 60%, 55%, 0.5);
    overflow: auto;
    text-align: center;
}

.RemoveContactPage_Page-aligner {
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

.RemoveContactPage_Page-frame {
    display: inline-block;
    vertical-align: middle;
    width: 300px;
    background-color: white;
    padding: 20px;
}

.RemoveContactPage_Page-text {
    padding: 20px;
    margin-bottom: 10px;
    white-space: normal;
    line-height: 20px;
}

.RemoveContactPage_Page-username {
    font-weight: bold;
}

.RemoveContactPage_Page-yesButton {
    padding-top: 7px;
    padding-bottom: 7px;
    cursor: pointer;
    width: calc(65% - 5px);
    color: white;
    background-color: hsl(95, 60%, 55%);
    text-align: center;
}
.RemoveContactPage_Page-yesButton:active {
    color: hsl(95, 70%, 70%);
    background-color: hsl(95, 60%, 35%);
}
.RemoveContactPage_Page-yesButton[disabled] {
    color: white;
    background-color: hsl(0, 0%, 70%);
    cursor: default;
}

.RemoveContactPage_Page-noButton {
    padding-top: 7px;
    padding-bottom: 7px;
    cursor: pointer;
    width: calc(35% - 5px);
    color: white;
    background-color: hsl(45, 70%, 55%);
    margin-left: 10px;
    text-align: center;
}
.RemoveContactPage_Page-noButton:active {
    color: hsl(45, 70%, 70%);
    background-color: hsl(45, 70%, 35%);
}
.RemoveContactPage_Page-noButton[disabled] {
    color: white;
    background-color: hsl(0, 0%, 70%);
    cursor: default;
}
