.RemoveContactPage_Page {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: hsla(95, 60%, 55%, 0.5);
    overflow: auto;
}

.RemoveContactPage_Page-frame {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 300px;
    height: 224px;
    margin: auto;
    background-color: white;
    padding: 20px;
}

.RemoveContactPage_Page-text {
    text-align: center;
    padding: 20px;
    white-space: normal;
}

.RemoveContactPage_Page-username {
    font-weight: bold;
}

.RemoveContactPage_Page-yesButton {
    position: absolute;
    bottom: 20px;
    left: 20px;
    padding-top: 7px;
    padding-bottom: 7px;
    cursor: pointer;
    width: calc(65% - 25px);
    color: white;
    background-color: hsl(95, 60%, 55%);
}
.RemoveContactPage_Page-yesButton:active {
    color: hsl(95, 70%, 70%);
    background-color: hsl(95, 60%, 35%);
}

.RemoveContactPage_Page-noButton {
    position: absolute;
    right: 20px;
    bottom: 20px;
    padding-top: 7px;
    padding-bottom: 7px;
    cursor: pointer;
    width: calc(35% - 25px);
    color: white;
    background-color: hsl(45, 70%, 55%);
}
.RemoveContactPage_Page-noButton:active {
    color: hsl(45, 70%, 70%);
    background-color: hsl(45, 70%, 35%);
}
