.WelcomePage_StaySignedInItem-box {
    display: inline-block;
    vertical-align: top;
    width: 20px;
    height: 20px;
    border: 2px solid hsl(0, 0%, 70%);
    margin-top: 5px;
    margin-right: 5px;
    cursor: pointer;
}
.WelcomePage_StaySignedInItem-box:focus {
    border: 2px solid hsl(95, 60%, 55%);
}
