.WelcomePage_StaySignedInItem-button {
    display: inline-block;
    vertical-align: top;
    width: 20px;
    height: 20px;
    border: 2px solid hsl(0, 0%, 70%);
    margin-top: 5px;
    margin-right: 5px;
    cursor: pointer;
}
.WelcomePage_StaySignedInItem-button:focus {
    border-color: hsl(95, 60%, 55%);
    background-color: hsl(95, 70%, 95%);
}
.WelcomePage_StaySignedInItem-button[disabled] {
    background-color: hsl(0, 0%, 95%);
}
